<body>
    <div class="container">
        <div class="header">
            <h1>Listado de Gasolineras</h1>
        </div>
        <div class="grid">
            @for(gasolinera of listadoGasolineras; track listadoGasolineras.indexOf(gasolinera)) {
                <div class="gas-station-card">
                    <div class="info">
                        <p>Estación: {{ gasolinera.nombre }}, IDEESS: {{ gasolinera.id }}</p>
                        <p>Gasolina 95: {{gasolinera.price95}}</p>
                        <p>Diesel: {{gasolinera.priceDiesel}}</p>
                        <p>Código postal: {{gasolinera.postalCode}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</body>