<div>
    <header class="header">
      <h1>RUTAFUEL</h1>
    </header>
    
    <div class="filters">
      <div class="filter-item">
        <label for="fuelType">Tipo de Combustible:</label>
        <select id="fuelType" [(ngModel)]="fuelType">
          <option value="">Todos</option>
          <option value="Gasolina 95">Gasolina 95</option>
          <option value="Diesel">Diesel</option>
        </select>
      </div>

      <div class="filter-item">
        <label for="minPrice">Precio Mínimo:</label>
        <input id="minPrice" type="number" [(ngModel)]="minPrice" placeholder="Precio Mínimo" />
      </div>

      <div class="filter-item">
        <label for="maxPrice">Precio Máximo:</label>
        <input id="maxPrice" type="number" [(ngModel)]="maxPrice" placeholder="Precio Máximo" />
      </div>

      <div class="filter-item">
        <label for="postalCode">Código Postal:</label>
        <mat-form-field appearance="outline">
          <input type="text" matInput [formControl]="postalCodeControl" [matAutocomplete]="auto" placeholder="Código Postal">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredPostalCodes | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="filter-item">
        <label for="comunidad">Comunidad Autónoma:</label>
        <select id="comunidad" [(ngModel)]="selectedComunidad" (change)="onComunidadChange()">
          <option value="">Todas</option>
          <option *ngFor="let comunidad of comunidadesAutonomas" [value]="comunidad.IDCCAA">
            {{ comunidad.CCAA }}
          </option>
        </select>
      </div>

      <div class="filter-item">
        <label for="provincia">Provincia:</label>
        <select id="provincia" [(ngModel)]="selectedProvincia" [disabled]="!selectedComunidad">
          <option value="">Seleccione Provincia</option>
          <option *ngFor="let provincia of provincias" [value]="provincia.IDPovincia">
            {{ provincia.nombre }}
          </option>
        </select>
      </div>

      <div class="filter-item button-container">
        <button (click)="filterGasolineras()">Filtrar</button>
      </div>
    </div>

    <div class="grid">
      <div *ngFor="let gasolinera of filteredGasolineras" class="gas-station-card">
        <div class="info">
          <p>Estación: {{ gasolinera.nombre }}, IDEESS: {{ gasolinera.id }}</p>
          <p>Gasolina 95: {{ gasolinera.price95 }}</p>
          <p>Diesel: {{ gasolinera.priceDiesel }}</p>
          <p>Código postal: {{ gasolinera.postalCode }}</p>
          <p>Dirección: {{ gasolinera.direccion }}</p>
          <p>Comunidad Autónoma: {{ comunidadMap[gasolinera.comunidad] }}</p>
          <p>Provincia: {{ gasolinera.provincia }}</p>
          <a [href]="gasolinera.direccion | googleMaps" target="_blank" class="google-maps-button">Ver en Google Maps</a>        </div>
      </div>
    </div>
  </div>
